.square{
    background-color: blueviolet;
    font-size:4.768rem;
    height: 9.313rem;
    border:none;
    border:0.41rem solid #999;
    float: left;
    font-weight: bold;
    line-height: 34px;
    margin-right: -0.41rem;
    margin-top: -0.41rem;
    padding: 0;
    text-align: center;
    width: 9.313rem;
}