html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}


.play{
    display:flex;
    flex-direction:column;
    align-items:center;

}
.play__title{
   font-size: 6rem;
}
.board{
    display:flex;
    gap:0.41rem;

}
.board__row{
border: 0.41rem  solid black;


}